{% extends 'visual_i_ching_app/base.html' %}
{% load static %}

{% block content %}
    <div class="container my-5">
        <h1 class="display-2 serif-text">VisualIChing</h1>
        <p>VisualIChing is dedicated to providing an immersive and enlightening experience with the ancient oracle known as the I Ching. This interactive website offers a visually engaging exploration of this profound divination tool, empowering individuals to gain insights and guidance for their life's journey.</p>
    </div>
    <div class="container my-5">
        {% if not user.is_authenticated %}
        <div class="row">
            <h1 class="serif-text">Embark on a Journey of Self-Discovery</h1>
            <p>VisualIChing invites you to embark on a journey of self-discovery, exploring the timeless wisdom of the I Ching through an interactive and visually captivating experience. May the profound insights of this ancient oracle inspire and guide you as you navigate the ever-changing currents of life.</p>
            <p>Begin your exploration of the I Ching with VisualIChing today and uncover the deep well of wisdom that awaits you.</p>
            <div class="text-center my-5">
                <a href="{% url 'register' %}" class="btn btn-primary btn-lg" role="button">Sign Up For Free</a>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div id="carouselHexagrams" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for hexagram in hexagrams %}
                    {% if hexagram.hexagram_id == 1 %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">        
                    {% endif %}
                            <img src="{% static hexagram.image_url %}" class="d-block w-100" alt="image of hexagram '{{ hexagram.english_translation }}">
                            <div class="carousel-caption d-none d-md-block">
                                <h1>{{ hexagram.chinese_character }}</h1>
                                <h3 class="serif-text">{{ hexagram.english_translation }}</h3>
                                <h1>{{ hexagram.hexagram_symbol }}</h1>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <p class="text-center text-secondary my-1"><small>unique watercolor paintings for each hexagram</small></p>
        </div>
    </div>
{% endblock %}
