{% extends 'visual_i_ching_app/base.html' %}
{% load static %}

{% block content %}
    <div class="container my-5">
        <h1 class="display-4 serif-text">{{ user.username }}'s Account</h1>
        <p>Below are some basic details about your account.</p>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Detail</th>
                <th scope="col">Value</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Total Readings</td>
                <td>{{ total_readings }}</td>
                <td><a href="{% url 'visual-i-ching-app-new-reading' %}" class="btn btn-primary">Create New Reading</a></td>
              </tr>
              <tr>
                <td>Total Readings with AI Interpretation</td>
                <td>{{ total_ai_interpretations }}</td>
                <td><a href="{% url 'visual-i-ching-app-my-readings' %}" class="btn btn-primary">View My Readings</a></td>
              </tr>
              <tr>
                <td>Total AI Interpretation Credits</td>
                <td>{{ current_credits }}</td>
                <td><a href="{% url 'visual-i-ching-app-purchase-credits' %}" class="btn btn-primary">{{ purchase_btn_text }}</a></td>
              </tr>
            </tbody>
        </table>
        <div class="text-center my-5">
            <a href="{% url 'password_reset' %}" class="btn btn-secondary" role="button">Reset Password</a>
            <a href="#" class="btn btn-danger" role="button">Delete Account</a>
        </div>
    </div>
{% endblock %}