{% extends 'visual_i_ching_app/base.html' %}
{% load static %}

{% block content %}
    <h1 class="display-4 serif-text">{{ user.username }}'s Account</h1>
    <p class="text-muted">View and manage some basic details about your account.</p>
    {% if no_credit_history %}
    <div class="text-center alert alert-success">
        <strong>You are eligible for 1 free credit. Click the button below to try out AI interpretations for free!</strong>
        <div>
            <a href="{% url 'visual-i-ching-app-redeem-credit-offer' %}" class="btn btn-primary my-2">Get Free Credit</a>
        </div>
    </div>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Detail</th>
                <th scope="col">Value</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total Readings</td>
                <td>{{ total_readings }}</td>
                <td class="text-center"><a href="{% url 'visual-i-ching-app-new-reading' %}" class="btn btn-primary">Create New Reading</a></td>
            </tr>
            <tr>
                <td>Total Readings with AI Interpretation</td>
                <td>{{ total_ai_interpretations }}</td>
                <td class="text-center"><a href="{% url 'visual-i-ching-app-my-readings' %}" class="btn btn-primary">View My Readings</a></td>
            </tr>
            <tr>
                <td>Total AI Interpretation Credits</td>
                <td>{{ current_credits }}</td>
                <td class="text-center"><a href="{% url 'visual-i-ching-app-purchase-credits' %}" class="btn btn-primary">{{ purchase_btn_text }}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="text-center my-5">
        <a href="{% url 'password_reset' %}" class="btn btn-secondary" role="button">Reset Password</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Delete Account</button>
    </div>
    <div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteAccountModalLabel">Delete Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Warning! This will also delete all of your readings and any unused credits!</p>
                    <p>Are you sure you want to permanently delete your account?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form action="{% url 'visual-i-ching-app-delete-account' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}