{% extends 'visual_i_ching_app/base.html' %}
{% load static %}

{% block content %}
    <h1 class="display-4 serif-text">My Readings</h1>
    {% if not readings %}
        <p><i>You have no readings yet...</i></p>
        <div class="text-center">
            <a href="{% url 'visual-i-ching-app-new-reading' %}" class="btn btn-primary">Create New Reading</a>
        </div>
    {% endif %}

    {% for reading in readings %}
    <div class="card my-5 shadow">
        <div class="card-body">
            <h4 class="card-title serif-text mb-3">Reading on {{ reading.created_at|date:'n/j/y' }} {% if reading.is_public %}<span class="badge bg-info rounded-pill">Public</span>{% endif %}</h4>
            <p class="text-muted"><i><small>{{ reading.created_at|date:'n/j/y g:i a' }} UTC</small></i></p>
            <h6 class="serif-text">My Prompt</h6>
            <p class="card-text"><i>{{ reading.prompt|linebreaks }}</i></p>
            <hr>
            <div class="container">
                <div class="row text-center">
                    {% if reading.resulting_hexagram %}
                    <div class="col-md-2 mb-3"></div>
                    <div class="col-md-4 mb-3 ">
                        <img src="{% static reading.starting_hexagram.image_url %}" class="rounded img-fluid my-3" alt="{{ reading.starting_hexagram.english_translation }}">                        
                        <h3 class="serif-text my-2">Initial Hexagram</h3>
                        <h5 class="serif-text">{{ reading.starting_hexagram.chinese_character }} {{ reading.starting_hexagram.pinyin_romanization }} / {{ reading.starting_hexagram.english_translation }}</h5>
                        <h1>{{ reading.starting_hexagram.hexagram_symbol }}</h1>
                    </div>
                    <div class="col-md-4 mb-3">
                        <img src="{% static reading.resulting_hexagram.image_url %}" class="rounded img-fluid my-3" alt="{{ reading.resulting_hexagram.english_translation }}">
                        <h3 class="serif-text my-2">Resulting Hexagram</h3>
                        <h5 class="serif-text">{{ reading.resulting_hexagram.chinese_character }} {{ reading.resulting_hexagram.pinyin_romanization }} / {{ reading.resulting_hexagram.english_translation }}</h5>
                        <h1>{{ reading.resulting_hexagram.hexagram_symbol }}</h1>
                    </div>
                    <div class="col-md-2 mb-3"></div>
                    {% else %}
                    <div class="col-md-4 mb-3"></div>
                    <div class="col-md-4 mb-3">
                        <img src="{% static reading.starting_hexagram.image_url %}" class="rounded img-fluid my-3" alt="{{ reading.starting_hexagram.english_translation }}">
                        <h3 class="serif-text my-2">Unchanging Hexagram</h3>
                        <h5 class="serif-text">{{ reading.starting_hexagram.chinese_character }} {{ reading.starting_hexagram.pinyin_romanization }} / {{ reading.starting_hexagram.english_translation }}</h5>
                        <h1>{{ reading.starting_hexagram.hexagram_symbol }}</h1>
                    </div>
                    <div class="col-md-4 mb-3"></div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'visual-i-ching-app-reading' reading.reading_id %}" class="btn btn-primary">View Full Reading</a>
        </div>
    </div>
    {% endfor %}
    {% if is_paginated %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">⇤</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">⇠</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">⇤</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">⇠</a>
                </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">⇢</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">⇥</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">⇢</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">⇥</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}