{% extends 'visual_i_ching_app/base.html' %}
{% load static %}

{% block content %}
    <h1 class="display-4 serif-text">{{ user.username }}'s Readings</h1>
    {% for reading in readings %}
    <div class="card my-4 shadow-sm">
        <div class="card-body">
            <h4 class="card-title serif-text">Reading on {{ reading.created_at|date:'n/j/y' }}</h4>
            <p class="card-text"><i>{{ reading.prompt }}</i></p>
            <hr>
            <div class="container">
                <div class="row">
                    {% if reading.resulting_hexagram %}
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <img src="{% static reading.starting_hexagram.image_url %}" class="rounded img-fluid my-3" alt="{{ reading.starting_hexagram.english_translation }}">
                        <h5 class="serif-text text-center">{{ reading.starting_hexagram.chinese_character }} {{ reading.starting_hexagram.pinyin_romanization }} / {{ reading.starting_hexagram.english_translation }}</h5>
                        <h1 class="text-center">{{ reading.starting_hexagram.hexagram_symbol }}</h1>
                    </div>
                    <div class="col-md-4">
                        <img src="{% static reading.resulting_hexagram.image_url %}" class="rounded img-fluid my-3" alt="{{ reading.resulting_hexagram.english_translation }}">
                        <h5 class="serif-text text-center">{{ reading.resulting_hexagram.chinese_character }} {{ reading.resulting_hexagram.pinyin_romanization }} / {{ reading.resulting_hexagram.english_translation }}</h5>
                        <h1 class="text-center">{{ reading.resulting_hexagram.hexagram_symbol }}</h1>
                    </div>
                    <div class="col-md-2"></div>
                    {% else %}
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <img src="{% static reading.starting_hexagram.image_url %}" class="rounded img-fluid my-3" alt="{{ reading.starting_hexagram.english_translation }}">
                        <h5 class="serif-text text-center">{{ reading.starting_hexagram.chinese_character }} {{ reading.starting_hexagram.pinyin_romanization }} / {{ reading.starting_hexagram.english_translation }}</h5>
                        <h1 class="text-center">{{ reading.starting_hexagram.hexagram_symbol }}</h1>
                    </div>
                    <div class="col-md-4"></div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'visual-i-ching-app-reading' reading.reading_id %}" class="btn btn-primary">View Full Reading</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}